minimum_pre_commit_version: 2.13.0
default_stages: [commit, push]
exclude: '^$'
default_language_version:
  python: python3.9
repos:
  - repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test
      - id: requirements-txt-fixer
    - repo: https://github.com/PyCQA/flake8
      rev: 3.9.2
      hooks:
      - id: flake8
    - repo: https://github.com/pre-commit/mirrors-autopep8
      rev: v1.5.7
      hooks:
      - id: autopep8
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.902
      hooks:
      - id: mypy
        additional_dependencies: [types-all]
    - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]